title = "About"
url = "/"
layout = "default"
==

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>O nas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p>Kancelaria Adwokacka Pawelczyk Adwokata Janusza Pawelczyk świadczy pomoc prawną, obejmującą swym zakresem większość dziedzin obwiązującego prawa dla podmiotów gospodarczych oraz osób prywatnych ceniących sobie bezpieczeństwo, komfort, jak również dyskrecję w realizacji powierzonych zadań.</p>
            <p>Specjalizujemy się w prawie karnym, ze szczególnym uwzględnieniem szeroko rozumianej dziedziny prawa gospodarczego.</p>
        </div>
        <div class="col-lg-4">
          <p>Atutem kancelarii jest połączenie wiedzy z wieloletnim doświadczeniem praktycznym oraz współpracą z renomowanymi kancelariami prawnymi w Polsce.</p>
          <p>Udzielamy pomocy prawnej na każdym etapie postępowania, zarówno przed Sądami i innymi organami państwowymi oraz samorządowymi.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
        </div>
    </div>
</div>
