==
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Lokalizacja</h3>
                <p>Kilińskiego 5<br>07-410 Ostrołęka</p>
            </div>
            <div class="footer-col col-md-4">
              <h2>Telefon</h2>
              <p>+48 500-448-001</p>
            </div>
            <div class="footer-col col-md-4">
              <h2>Email</h2>
              <p>biuro@kancelariapawelczy.pl</p>
            </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; Cokolwiek {{ "now"|date("Y") }}
            </div>
        </div>
    </div>
</div>